        body {
  margin: 0;
  font-family: arial, sans-serif;
  background: #f5f5f5;
  text-align: center;
  font-size: 16px;
}
form {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: arial, sans-serif;
  margin: 0;
  padding: 0;
}
a {
  color: #369;
}
a:hover {
  color: #060;
}
a img {
  border: 0;
}
.center {
  text-align: center;
}
.margin20 {
  padding-left: 20px;
}
.clear {
  clear: both;
}
.hidden {
  display: none;
}
ol li,
ul li {
  margin-bottom: 0.5em;
  line-height: 1.4em;
}
p {
  line-height: 1.4em;
}
ul.bulletlist,
.refblock ul {
  list-style-image: url(//cdn.vertex42.com/Images/bullet_arrow.png);
  margin: 0;
  padding: 0;
  margin-left: 1.429em;
}
ul.bulletlist li {
  margin-bottom: 0.6em;
  line-height: 1.5em;
}
.downloadlink a {
  text-decoration: none;
}
.downloadlink a:hover {
  text-decoration: underline;
}
.imgshadow {
  -moz-box-shadow: 0 0 8px #ccc;
  -webkit-box-shadow: 0 0 8px #ccc;
  box-shadow: 0 0 8px #ccc;
}
.caption {
  font-size: 0.9em;
}
.mono {
  font-family: "Courier New", courier, monospace;
}
code,
pre {
  line-height: 20px;
  font-family: Courier, Consolas, Menlo, Monaco, Verdana, sans-serif;
  clear: both;
  tab-size: 4;
  margin: 1em 0;
  padding: 0.5em;
  display: block;
  word-wrap: break-word;
  white-space: -moz-pre-wrap;
  white-space: pre-wrap;
  overflow: auto;
  border: 1px solid #cddbea;
  border-radius: 3px;
  background-color: #f5f5f5;
}
.XLformula {
  font-size: 1em;
  color: #333;
  background-color: #eee;
  border: solid 3px #ccc;
  border-radius: 1px;
  margin-left: 0;
  padding: 0.5em 1em;
}
.XLformula .function {
  color: #222;
  font-weight: bold;
}
.XLformula .arg {
  color: #3969ad;
  font-style: italic;
  font-weight: bold;
}
.XLformula .green {
  color: #3c7d3e;
  font-weight: bold;
}
.key {
  font-family: Raleway, sans-serif;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0.05em 0.5em;
  margin: 0 0.1em;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 0 0 2px #fff inset;
  background: #f7f7f7;
}
.formula-in-text {
  font-family: Courier New, monospace;
  border: 1px solid #999;
  padding: 0.1em 0.5em;
  background: #f7f7f7;
}
table {
  font-size: 1em;
  border: 0;
}
table.fullwidth {
  width: 100%;
}
td {
  vertical-align: top;
}
h1 {
  font-size: 2em;
  color: #333;
  padding-bottom: 2px;
  border-bottom: 1px solid #4a696b;
  margin-bottom: 5px;
}
h2 {
  font-size: 1.714em;
  line-height: 1.5em;
  color: #2b5482;
  padding: 0;
  margin-top: 1.5em;
  margin-bottom: 5px;
  font-weight: normal;
  border-bottom: 5px solid #eee;
}
h3 {
  font-size: 1.2em;
  color: #2b5482;
  font-weight: normal;
  padding-bottom: 2px;
  margin-top: 2em;
  margin-bottom: 0;
}
.highlight {
  color: #2a689b;
  background-color: #e9eff6;
  padding: 0.5em 1em;
}
.align-right,
.imgright {
  float: right;
  margin: 0 0 1em 1.5em;
  text-align: center;
}
.align-left,
.imgleft {
  float: left;
  margin: 0 1.5em 1em 0;
  text-align: center;
}
.adlabel {
  font-size: 0.714em;
  color: #656565;
  text-align: center;
}
.atf_right {
  float: right;
  width: 360px;
}
.btf {
  margin: 2em 0;
}

.wrapper {
  text-align: left;
  position: relative;
  width: 1100px;
  margin: 0 auto;
}
.container {
  width: 1100px;
  position: relative;
}
#content {
  float: left;
  width: 780px;
  border: 1px solid #ccc;
  background: #fff;
}
#content-main {
  margin: 0 25px;
  width: 730px;
  padding: 20px 0;
  font-family: Arial, Helvetica, sans-serif;
}
#content-right {
  float: right;
  width: 300px;
  vertical-align: top;
}
#banner {
  background: #141e29;
  border-bottom: solid 4px #3969ad;
  color: #fff;
  position: relative;
}
.menu_control {
  display: none;
}
a.ytvid {
  text-decoration: none;
}
.ytplay {
  background: #d00;
  color: #fff;
  border: 1px solid #d00;
  border-radius: 4px;
  padding: 1px 6px 1px 8px;
}
a:hover .ytplay {
  border-color: #f00;
}
#breadcrumb {
  display: block;
  font-family: Tahoma, Arial, Helvetica, sans-serif;
  color: #666;
  font-size: 0.875em;
  margin: 0.25em 0;
  padding: 4px;
  padding-left: 7px;
  line-height: 2em;
}
#breadcrumb a {
  color: #666;
  text-decoration: none;
  margin: 0 5px;
}
#breadcrumb a:hover {
  color: #09c;
}
#header {
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}
#header h1 {
  border: 0;
  margin-bottom: 0;
  color: #305992;
}
#subline {
  color: #666;
}
#subline .updated {
  font-size: 0.9em;
  font-style: italic;
}
#disclaimer {
  font-size: 0.786em;
  color: #555;
  padding: 1em;
}
#share {
  background-color: #eff3f7;
  padding: 10px;
  margin-top: 2em;
}
#share h3 {
  color: #305e92;
  margin-top: 0;
  margin-bottom: 0.5em;
}
#content-right h4,
#content-left h4 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  font-size: 0.786em;
  font-weight: bolder;
  line-height: 1.286em;
  background: none;
  margin-bottom: 0.5em;
}
#content-right h2,
#content-right h3 {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  background: #ccc;
  color: #333;
  font-size: 0.857em;
  text-transform: uppercase;
  line-height: 2.25em;
  padding: 0 0.714em;
}
#content-right h2 a,
#content-right h3 a {
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
  text-decoration: none;
  padding: 0;
  margin: 0;
  line-height: 2.25em;
  display: inline;
}
#content-right h2 a:hover,
#content-right h3 a:hover {
  color: #069;
}
#content-right h2 {
  background: #3969ad;
  color: #fff;
}
#content-right h2 a {
  color: #fff;
}
#content-right h2 a:hover {
  color: #eee;
}
.side-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.side-nav li {
  display: block;
  margin: 0;
  padding: 0;
  background: #ddd;
  border-bottom: 0.143em solid #ccc;
}
.side-nav a {
  display: block;
  height: 2.143em;
  line-height: 2.143em;
  overflow: hidden;
  color: #555;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}
.side-nav a .text {
  font-size: 0.857em;
}
.side-nav li a {
  padding-left: 0.5em;
}
.side-nav a:hover,
.side-nav a.active {
  color: #06a;
  text-decoration: none;
  background: #eee;
}
.navlist {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  margin-top: 1.429em;
  border: 1px solid #ccc;
  background: #f9f9f9;
  color: #555;
}
.navlist a {
  text-decoration: none;
  color: #305992;
  display: block;
  padding: 0.214em 0.5em;
  padding-right: 0.214em;
  margin-bottom: 0.35em;
}
.navlist a:hover {
  color: #09c;
}
.navlist ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.navlist ul li {
  margin: 0;
  padding: 0;
}
.navlist ul li a {
  display: block;
  margin: 0;
  width: 100%;
  padding: 0.214em 0 0.286em 0.286em;
  text-decoration: none;
}
.navlist ul li a:hover {
  background: #eee;
  text-decoration: none;
}
.subnavlist {
  margin-left: 0.357em;
  padding-top: 0.143em;
  padding-bottom: 0.286em;
  color: #555;
}
#footer a {
  color: #c4e4ff;
  text-decoration: none;
}
#footer a:hover {
  color: #fff;
}
.footer-nav {
  width: 30%;
  float: right;
}
.blogfeatureblock {
  width: 75%;
  background-color: #eee;
  color: #555;
  font-size: 0.857em;
  margin-top: 1em;
  margin-bottom: 1em;
}
.blogfeature {
  background-image: url(//cdn.vertex42.com/Images/blog-icon-g.png);
  background-repeat: no-repeat;
  padding: 5px 5px 5px 130px;
  min-height: 53px;
}
.blogfeature a {
  color: #036;
  font-size: 1em;
  text-decoration: underline;
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: bold;
}
.blogfeature a:hover {
  color: #555;
}
.icon20 {
  display: block;
  float: left;
  margin: 0.357em 0.25em 0 0;
  background: url(//cdn.vertex42.com/Images/icon20_sprite_2.png) no-repeat;
  height: 1.429em;
  width: 1.429em;
  background-size: 100%;
}
.icon28 {
  display: block;
  float: left;
  margin: 0.38em 0.75em 0 0;
  background: url(//cdn.vertex42.com/Images/icon28_sprite.png) no-repeat;
  height: 1.5em;
  width: 1.5em;
  background-size: 100%;
}
.icon16 {
  background: url(//cdn.vertex42.com/Images/icon16_sprite.png) no-repeat;
  margin-right: 0.357em;
  margin-bottom: 0.214em;
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle;
}
.icon16.plus {
  background-position: -16px 0;
}
.icon16.v42 {
  background-position: -32px 0;
}
.icon16.excel {
  background-position: -32px -32px;
}
.icon16.xlsx {
  background-position: -32px -48px;
}
.icon16.word {
  background-position: -32px -64px;
}
.icon16.docx {
  background-position: -32px -80px;
}
.icon16.oo {
  background-position: -32px -96px;
}
.icon16.pdf {
  background-position: -32px -128px;
}
.icon16.gdocs {
  background-position: -32px -160px;
}
.icon16.iPad {
  background-position: -16px -96px;
}
.icon16.rl {
  background: url(//cdn.vertex42.com/Images/icon16_RocketLawyer.gif) no-repeat;
}
#user-notice.info {
  background: #217095;
  border-color: #1e5b78;
}
#user-notice.success {
  background: #6a842d;
  border-color: #4c6120;
}
#user-notice.error {
  background: #914426;
  border-color: #7e3a20;
}
.pv {
  margin-top: 2em;
  margin-bottom: 1em;
}
.pv .title {
  font-size: 0.857em;
  margin: 0 0 0.5em 0;
  padding-top: 1em;
  padding-bottom: 0.714em;
  border-top: 1px solid #eee;
}
.pv .title h2 {
  font-size: 2em;
  line-height: 1em;
  border: 0;
  margin: 0 0 0.214em 0;
}
.pv .tags {
  display: block;
  float: right;
  margin: 0.5em 1em 0 2em;
  text-align: right;
  line-height: 1.714em;
  max-width: 50%;
}
.pv .tags a {
  display: inline-block;
  padding: 0 0.357em;
  line-height: 1.5em;
  background: #eee;
  text-decoration: none;
  margin-right: 0.357em;
}
.pv .tags a:hover {
  background: #ccc;
}
.db2 .preview {
  float: left;
  font-size: 0.857em;
  width: 66%;
  margin-right: 3%;
  text-align: center;
  position: relative;
}
.db2 .preview img {
  max-width: 100%;
}
.db2 .preview img.border {
  border: 1px solid #ccc;
}
.db2 .dl {
  margin-left: 69%;
  color: #333;
}
.btnDL {
  display: block;
  max-width: 300px;
  background: #567b00;
  color: #fff;
  padding: 0.517em 0;
  font-size: 1.286em;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  border-radius: 4px;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
.btnDL:hover {
  color: #fff;
  background: #999;
}
.btnDL:active {
  background: #888;
}
.btnDL.blue {
  background: #407aae;
}
.btnDL.red {
  background: #b71717;
}
.btnDL.blue:hover,
.btnDL.red:hover {
  color: #fff;
  background: #999;
}
.type {
  color: #567b00;
  margin-top: 0.5em;
  margin-bottom: 1em;
}
.type.blue {
  color: #356691;
}
.pv .scr {
  font-weight: bold;
  color: #333;
  margin-bottom: 1em;
  font-size: 1em;
}
.pv .scr a,
.pv .scr span.current {
  display: inline-block;
  background: #eee;
  width: 1.714em;
  height: 1.714em;
  line-height: 1.714em;
  text-decoration: none;
  text-align: center;
  margin-right: 0.5em;
}
.pv .scr span.current {
  color: #656565;
  background: #eee;
}
.pv .scr a:hover {
  background: #ccc;
}
.pv .dl h4,
.pv .dl h3 {
  border-bottom: 1px solid #ddd;
  color: #555;
  padding: 0.214em 0;
  text-transform: uppercase;
  margin-bottom: 0.5em;
  margin-top: 1.5em;
  font-weight: normal;
  margin-right: 20px;
}
.pv .dl .lbl {
  font-size: 0.857em;
  margin-top: 1.5em;
  color: #555;
  font-weight: bold;
}
.pv .dl h4 + div.lbl {
  margin-top: 0;
}
a.video-link {
  display: inline-block;
  color: #3969ad;
  height: 20px;
  line-height: 1.429em;
  text-decoration: none;
  background: url(//cdn.vertex42.com/Images/play_20x30.png) no-repeat;
  padding-left: 35px;
}
a.video-link:hover {
  filter: alpha(opacity=60);
  opacity: 0.6;
}
.versions a {
  display: block;
  margin-bottom: 0.9em;
  line-height: 1.143em;
}
.versions a:hover {
  filter: alpha(opacity=60);
  opacity: 0.6;
}
.sq {
  display: inline-block;
  height: 0.714em;
  width: 0.714em;
  margin-right: 0.357em;
}
.sq.xlsx,
.sq.xls {
  background: #217446;
}
.sq.oo,
.sq.doc {
  background: #4a8eca;
}
.sq.gd,
.sq.pdf {
  background: #d64937;
}
.pv.fullwidth .db2 .preview {
  width: 100%;
}
.pv.fullwidth .dl {
  clear: both;
  margin-left: 0;
  padding-top: 1em;
}
.sbgallery {
  display: block;
  overflow-x: hidden;
  text-align: center;
  background: #eee;
  padding: 10px 0;
}
.sbgallery .related-item {
  display: block;
  text-align: center;
  margin: 10px 0;
  font-size: 0.857em;
  color: #777;
  padding: 0 5px;
}
.sbgallery .related-item a {
  text-decoration: none;
  font-weight: bold;
}
.sbgallery .related-item img {
  margin: 5px 0 5px 0;
  -moz-box-shadow: 0 0 8px #ccc;
  -webkit-box-shadow: 0 0 8px #ccc;
  box-shadow: 0 0 8px #ccc;
}
.more {
  display: block;
  font-size: 0.857em;
  line-height: 2.25em;
  text-align: left;
  text-transform: uppercase;
  padding: 0 0.714em;
  background: #e5e5e5;
  margin-bottom: -10px;
  text-decoration: none;
}
.more:hover {
  background: #ccc;
}
.calculators #testimonials {
  padding: 3px;
  font-size: 0.857em;
  color: #555;
}
.calendars td h3 {
  margin-top: 0;
}
.wordtemplates h2 {
  margin-top: 1.5em;
}
.wordtemplates h3 {
  margin-bottom: 1em;
}
ul.worddocs {
  list-style-image: url(//cdn.vertex42.com/Images/icon16_Word.gif);
  margin: 0;
  padding: 0;
  margin-left: 30px;
}
ul.worddocs li {
  margin-bottom: 10px;
}
.item {
  float: left;
  width: 200px;
  margin: 0 18px 2em 18px;
  z-index: 1;
}
.item .itemtitle {
  text-align: center;
  margin: 0 0 10px;
  font-size: 1em;
  color: #575757;
  min-height: 220px;
}
.item .itemtitle a {
  text-decoration: none;
  font-weight: bold;
}
.item .itemtitle a:hover {
  text-decoration: underline;
}
.item img {
  margin: 10px 0 5px 0;
  -moz-box-shadow: 0 0 8px #ccc;
  -webkit-box-shadow: 0 0 8px #ccc;
  box-shadow: 0 0 8px #ccc;
}
.summary {
  text-align: left;
  font-size: 0.95em;
  font-weight: normal;
  background: #fff;
  color: #555;
  min-width: 180px;
  margin-bottom: 0.5em;
}
.note {
  display: none;
  font-size: 0.857em;
  line-height: 1.143em;
  position: absolute;
  top: 50px;
  left: 180px;
  padding: 10px;
  background: #fff;
  color: #333;
  border: 1px solid #ccc;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  z-index: 9999;
  min-width: 200px;
}
.note ul {
  margin: 0;
  padding: 0;
  margin-left: 15px;
}
.note li {
  margin: 0;
  padding: 0;
}
.has_note:hover {
  position: relative;
}
.has_note:hover .note {
  display: block;
}
#related .item .note {
  top: 200px;
  left: 20px;
}
#related .item {
  width: 150px;
  margin: 0 15px 1em 15px;
}
#related .item img {
  max-width: 150px;
}
a:hover .imgshadow,
.item .itemtitle a:hover img,
.db2 .preview a:hover img,
.sbgallery .related-item a:hover img {
  -moz-box-shadow: 0 0 12px #999;
  -webkit-box-shadow: 0 0 12px #999;
  box-shadow: 0 0 12px #999;
}
.shr {
  display: block;
  position: relative;
  width: 100%;
  margin: 0 0 1em 0;
  z-index: 100;
}
.shr .title {
  color: #eee;
  font-weight: bold;
  background: #f8684c;
  font-size: 1.15em;
  display: block;
  padding: 0.5em;
  cursor: pointer;
}
a.shbtn {
  display: inline-block;
  color: #fff;
  width: 40%;
  margin: 0.5em 2% 0 0;
  padding: 0.35em 3%;
  cursor: pointer;
  text-decoration: none;
}
a.shbtn:hover {
  margin-left: 0;
  padding: 0.2em 3%;
}
.shicon {
  display: block;
  background: url(//cdn.vertex42.com/Images/social-sprite-64.png) no-repeat;
  height: 2.286em;
  width: 2.286em;
  background-size: 100%;
}
a.shbtn .label {
  font-size: 0.857em;
}
a.shbtn .count {
  float: right;
  font-size: 1.5em;
  font-weight: bold;
  color: #eee;
  line-height: 1.876em;
}
.shbtn.fb {
  background: #1777f2;
}
.shbtn.fb .shicon {
  background-position: 0 0%;
}
.shbtn.tw {
  background: #1da1f2;
}
.shbtn.tw .shicon {
  background-position: 0 20%;
}
.shbtn.pn {
  background: #c82828;
}
.shbtn.pn .shicon {
  background-position: 0 40%;
}
.shbtn.in {
  background: #0a66c2;
}
.shbtn.in .shicon {
  background-position: 0 60%;
}
.shbtn.ig {
  background: #e31360;
}
.shbtn.ig .shicon {
  background-position: 0 80%;
}
.shbtn.yt {
  background: #ff0000;
}
.shbtn.yt .shicon {
  background-position: 0 100%;
}
.img_grid_1of2 {
  float: left;
  width: 50%;
  text-align: center;
  margin-bottom: 1em;
  min-width: 250px;
}
.img_grid_1of3 {
  float: left;
  width: 33%;
  text-align: center;
  margin-bottom: 1em;
  min-width: 200px;
}

nav.topnav {
  background: #141e29;
  width: 100%;
  height: 54px;
  margin: auto;
  position: relative;
}
nav .logo {
  float: left;
  padding: 0 5px;
  margin-top: 4px;
}
.topnav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.topnav ul li {
  display: inline-block;
  position: relative;
  margin: 0;
}
.topnav ul li a {
  color: #eee;
  background: #1c2334;
  text-decoration: none;
  margin: 0;
  padding: 0 10px;
  font-size: 14px;
  line-height: 54px;
  display: block;
}
.topnav ul li a:hover {
  background-color: #3969ad;
  color: #fff;
  transition: color 0.3s;
  transition: background-color 0.3s;
}
.topnav ul li ul {
  display: none;
  position: absolute;
  top: 54px;
  left: 0;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  filter: alpha(opacity=95);
  opacity: 0.95;
  z-index: 9999;
}
.topnav ul li:hover ul {
  display: block;
}
.topnav ul ul li {
  display: block;
  margin: 0;
  line-height: 2em;
}
.topnav ul ul a {
  display: block;
  background: #eee;
  color: #3969ad;
  font-size: 1em;
  width: 180px;
  padding: 0 10px;
  font-weight: bold;
}
.topnav ul ul a:hover {
  background: #3969ad;
  color: white;
}
nav .btn {
  position: absolute;
  display: block;
  top: 7px;
  width: 42px;
  height: 38px;
  color: #eee;
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  z-index: 99;
  background-color: #3969ad;
  border-radius: 4px;
}
nav .btn:hover {
  background-color: #eee;
  color: #3969ad;
  transition: 0.3s;
}
nav .btn.menu-icon {
  left: 5%;
  display: none;
}
nav .btn.search-icon {
  right: 3%;
  fill: #fff;
}
label.btn.search-icon:hover {
  fill: #3969ad;
}
.topnav form {
  width: 100%;
  height: 38px;
  right: 0;
  background-color: #fff;
  display: flex;
  overflow: hidden;
  padding: 2px;
  border-radius: 4px;
}
.search-box {
  position: absolute;
  float: left;
  background-color: #3969ad;
  right: 3%;
  top: -80px;
  width: 300px;
  height: 45px;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  transition: all 0.17s ease;
}
.search-box::before {
  content: "";
  position: absolute;
  top: 0;
  right: 20px;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-bottom-color: #3969ad;
  margin: -20px 0 0;
}
.search {
  width: 95%;
  background-color: white;
  color: #3969ad;
  padding: 0 10px;
  font-size: 14px;
  border: 0;
  outline: none;
}
.search::placeholder {
  color: #3969ad;
}
.topnav .submit {
  font-size: 14px;
  padding: 0 10px;
  border: 0;
  background-color: #eee;
  color: #3969ad;
  border-radius: 4px;
  cursor: pointer;
}
#bc1,
#bc2 {
  display: none;
}
#bc2:checked ~ .search-box {
  top: 45px;
  z-index: 999;
}

@media only screen and (max-width: 951px) {
  .wrapper {
    width: auto;
  }
  .container {
    width: auto;
  }
  .navigation {
    padding: 5px 0;
  }
  .menu_control {
    font-size: 1.1em;
    display: inline-block;
    color: white;
    background-color: #3969ad;
    margin: 0 auto;
    padding: 7px 13px;
    cursor: pointer;
    border-radius: 3px;
  }
  .shr-title {
    display: none;
  }
  .shr.btns {
    position: fixed;
    top: auto;
    bottom: -26px;
    right: 0;
    width: 300px;
    font-size: 1em;
    margin: 0;
  }
  .shr.btns:hover {
    bottom: -2px;
  }
  #content {
    float: none;
    margin: 0 auto;
  }
  #content-right {
    float: none;
    margin: 1em auto;
    width: 80%;
  }
  #colophon {
    margin-left: 10px;
    width: auto;
    max-width: 400px;
  }
  #colophon .tm-msg {
    font-size: 0.875em;
  }
  .ad_sidebar {
    display: none;
  }
  .navlist a {
    margin-top: 0.6em;
    margin-bottom: 0.6em;
  }
}
@media all and (max-width: 798px) {
  #content {
    width: 100%;
    border: none;
  }
  #content-main {
    width: auto;
    overflow: hidden;
  }
  img,
  video {
    max-width: 100%;
    height: auto;
  }
}
@media all and (max-width: 641px) {
  .blogfeatureblock {
    width: 100%;
  }
  .db2 .preview {
    width: 93%;
  }
  .db2 .dl {
    clear: both;
    width: 95%;
    margin-left: 0;
    padding-top: 2em;
  }
  .download .left {
    padding-left: 0;
    padding-right: 0;
  }
  .download .left img {
    max-width: 100px;
    max-height: 130px;
  }
  .footer-nav {
    width: 45%;
  }
}
@media all and (max-width: 540px) {
  #banner .wrapper {
    text-align: center;
  }
  #banner .wrapper img {
    width: 175px;
    height: auto;
    margin-top: 0;
  }
  .img_grid_1of2 {
    width: 90%;
  }
  .item {
    width: 80%;
    padding: 0 10%;
    margin: 1em 0;
  }
}
@media all and (max-width: 480px) {
  #content-main {
    margin: 0 10px;
  }
  #banner .wrapper {
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  #m-menu {
    display: none;
  }
  .shr.btns {
    width: 200px;
  }
  .align-right {
    max-width: 60%;
  }
  .img_grid_1of3 {
    width: 90%;
  }
  .ui-dialog {
    width: 95% !important;
  }
}
@media all and (max-width: 400px) {
  body {
    font-size: 14px;
  }
}

@media (max-width: 1000px) {
  nav .logo {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  nav .btn.menu-icon {
    display: block;
  }
  nav {
    width: 100%;
  }
  .topnav ul {
    position: fixed;
    width: 300px;
    background-color: #eee;
    height: 100%;
    text-align: center;
    transition: all 0.5s;
    top: 54px;
    left: -800px;
    z-index: 999;
    padding: 10px;
  }
  .topnav ul li {
    display: block;
    padding: 5px 0;
  }
  .topnav ul li a {
    font-size: 1.1em;
  }
  .topnav ul li:hover ul {
    display: none;
  }
  #bc1:checked ~ ul {
    left: 0;
  }
}

@media print {
  .container {
    width: auto;
  }
  #ad,
  #ads {
    display: none;
  }
  .ad,
  .btf,
  .atf,
  .atf_right {
    display: none;
  }
  #content {
    width: auto;
    float: none;
    border: none;
    margin: 0 0.5in;
  }
  #content-main {
    width: auto;
    margin: 0;
    height: auto;
    float: none;
    border: none;
  }
  #banner {
    border-bottom: 1px solid #999;
  }
  nav .btn {
    display: none !important;
  }
  nav .logo {
    left: 130px;
  }
  #content-left {
    display: none;
  }
  #content-right {
    display: none;
  }
  .shr {
    display: none;
  }
}
