body {
  margin: 0;
  font-family: arial, sans-serif;
  background: #f5f5f5;
  text-align: center;
  font-size: 16px;
}
form {
  margin: 0;
}
h1, h2, h3, h4, h5, h6 {
  font-family: arial, sans-serif;
  margin: 0;
  padding: 0;
}
a {
  color: #369;
}
a:hover {
  color: #060;
}
a img {
  border: 0;
}
.center {
  text-align: center;
}
.clear {
  clear: both;
}
.hidden {
  display: none;
}
ol li, ul li {
  margin-bottom: 0.5em;
  line-height: 1.4em;
}
p {
  line-height: 1.4em;
}
ul.bulletlist, .refblock ul {
  list-style-image: url(//cdn.vertex42.com/Images/bullet_arrow.png);
  margin: 0;
  padding: 0;
  margin-left: 1.429em;
}
ul.bulletlist li {
  margin-bottom: 0.6em;
  line-height: 1.5em;
}
table {
  font-size: 1em;
  border: 0;
}
table.fullwidth {
  width: 100%;
}
td {
  vertical-align: top;
}
h1 {
  font-size: 2em;
  color: #333;
  padding-bottom: 2px;
  border-bottom: 1px solid #4a696b;
  margin-bottom: 5px;
}
h2 {
  font-size: 1.714em;
  line-height: 1.5em;
  color: #2b5482;
  padding: 0;
  margin-top: 1.5em;
  margin-bottom: 5px;
  font-weight: normal;
  border-bottom: 5px solid #eee;
}
h3 {
  font-size: 1.2em;
  color: #2b5482;
  font-weight: normal;
  padding-bottom: 2px;
  margin-top: 2em;
  margin-bottom: 0;
}
.align-right, .imgright {
  float: right;
  margin: 0 0 1em 1.5em;
  text-align: center;
}
.align-left, .imgleft {
  float: left;
  margin: 0 1.5em 1em 0;
  text-align: center;
}
.wrapper {
  text-align: left;
  position: relative;
  width: 1100px;
  margin: 0 auto;
}
.container {
  width: 1100px;
  position: relative;
}
#content {
  float: left;
  width: 780px;
  border: 1px solid #ccc;
  background: #fff;
}
#content-main {
  margin: 0 25px;
  width: 730px;
  padding: 20px 0;
  font-family: Arial, Helvetica, sans-serif;
}
#content-right {
  float: right;
  width: 300px;
  vertical-align: top;
}
#header {
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}
#header h1 {
  border: 0;
  margin-bottom: 0;
  color: #305992;
}
#subline {
  color: #666;
}
#subline .updated {
  font-size: 0.9em;
  font-style: italic;
}
#content-right h4, #content-left h4 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  font-size: 0.786em;
  font-weight: bolder;
  line-height: 1.286em;
  background: none;
  margin-bottom: 0.5em;
}
#content-right h2, #content-right h3 {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  background: #ccc;
  color: #333;
  font-size: 0.857em;
  text-transform: uppercase;
  line-height: 2.25em;
  padding: 0 0.714em;
}
#content-right h2 a, #content-right h3 a {
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
  text-decoration: none;
  padding: 0;
  margin: 0;
  line-height: 2.25em;
  display: inline;
}
#content-right h2 a:hover, #content-right h3 a:hover {
  color: #069;
}
#content-right h2 {
  background: #3969ad;
  color: #fff;
}
#content-right h2 a {
  color: #fff;
}
#content-right h2 a:hover {
  color: #eee;
}
.side-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.side-nav li {
  display: block;
  margin: 0;
  padding: 0;
  background: #ddd;
  border-bottom: 0.143em solid #ccc;
}
.side-nav a {
  display: block;
  height: 2.143em;
  line-height: 2.143em;
  overflow: hidden;
  color: #555;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}
.side-nav a .text {
  font-size: 0.857em;
}
.side-nav li a {
  padding-left: 0.5em;
}
.side-nav a:hover,
.side-nav a.active {
  color: #06a;
  text-decoration: none;
  background: #eee;
}
.navlist {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  margin-top: 1.429em;
  border: 1px solid #ccc;
  background: #f9f9f9;
  color: #555;
}
.navlist a {
  text-decoration: none;
  color: #305992;
  display: block;
  padding: 0.214em 0.5em;
  padding-right: 0.214em;
  margin-bottom: 0.35em;
}
.navlist a:hover {
  color: #09c;
}
.navlist ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.navlist ul li {
  margin: 0;
  padding: 0;
}
.navlist ul li a {
  display: block;
  margin: 0;
  width: 100%;
  padding: 0.214em 0 0.286em 0.286em;
  text-decoration: none;
}
.navlist ul li a:hover {
  background: #eee;
  text-decoration: none;
}
.subnavlist {
  margin-left: 0.357em;
  padding-top: 0.143em;
  padding-bottom: 0.286em;
  color: #555;
}
.item {
  float: left;
  width: 200px;
  margin: 0 18px 2em 18px;
  z-index: 1;
}
.item .itemtitle {
  text-align: center;
  margin: 0 0 10px;
  font-size: 1em;
  color: #575757;
  min-height: 220px;
}
.item .itemtitle a {
  text-decoration: none;
  font-weight: bold;
}
.item .itemtitle a:hover {
  text-decoration: underline;
}
.item img {
  margin: 10px 0 5px 0;
  -moz-box-shadow: 0 0 8px #ccc;
  -webkit-box-shadow: 0 0 8px #ccc;
  box-shadow: 0 0 8px #ccc;
}
a:hover .imgshadow,
.item .itemtitle a:hover img,
.db2 .preview a:hover img,
.sbgallery .related-item a:hover img {
  -moz-box-shadow: 0 0 12px #999;
  -webkit-box-shadow: 0 0 12px #999;
  box-shadow: 0 0 12px #999;
}
#bc1,
#bc2 {
  display: none;
}
#bc2:checked ~ .search-box {
  top: 45px;
  z-index: 999;
}
